# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs, caches, temporary files
*.log
*.cache
*.db

# OS files
Thumbs.db
Desktop.ini

# Test results
TestResult*/

# Publish
*.publish.xml

